<div class="post">
    <h1>Organ Exchange - GraphAbility UNSW</h1>
    <p>This is a project done in collaboration with UNSW under the ChallENG program which has other projects, probably the most recognisable being Sunswift UNSW's solar car racing team. This project started in February 2021 and is going to continue into the forseeabale future. Currently, the members of the team are: David Peng, Jodie Lee, Rodrick Safi. We are working in collaboration with Serge Gaspers, a professor at UNSW.</p>
    <p>The premise behind the project is that there are pairs of people where there is a willing donor and a recipient who requires an organ, however, due to complexities with how organ transplants work it can be likely that the organ donor and the recipient are not compatable and therefore a transplant cannot take place. In the event that this occurs, these pairs will enter into a live organ exchange network and hopefully another pair has the same issue but the donors of each pair are compatable with the recipient of the other pair.</p>
    <p>This can be captured in a directed graph, where there the vertexes of the graph can be representative of a pair. An Out-Edge represents that it is possible for the Donor of the Out-Pair to donate to the Recipient of the In-Pair. The algorithm we aim to implement is able to find cycles in a network so that these transplants can occur.</p>
    <p>In addition, we also need to consider altruistic donors and deceased donors, how to deal with those cases and how to best ensure the fairness and equity of the system so that as many transplants as possible occur as well as those on the waiting list not having increased wait times. Our aim is to decrease the wait time for those on the waiting list as well as increase the number of transplants that occur thereby increasing the efficiency of the system to hopefully save more lives. </p>
</div>
<div class="post">
    <h1>This Website</h1>
    <p>This website is maintained by David Peng and was created as an attempt to learn and understand the Angular Framework. You can find other information about me in the  <a href="contact" routerLink="/contact">contacts</a> page as well as on my <a href="https://github.com/DPeng-UNSW">github page</a>.</p>
    <p>You can contact me about enquiries related to this page at:</p>
    <p>davidpprojects@gmail.com</p>
</div>
