<div class="post">
    <h1>Contact me</h1>
    <p>Hi!</p>
    <p>My name is David and i'm a penultimate year student at UNSW. This is a website I developed as I was learning the Angular framework. Below are my contact details.</p>
    <p>Github: <a href="https://github.com/DPeng-UNSW">github.com/DPeng-UNSW</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/david-peng-502747137/">linkedin.com/in/david-peng-502747137/</a></p>
    <p>Email: <a>davidpprojects@gmail.com</a></p>
</div>
<div class="post">
    <embed src="../../assets/Resume.pdf" type='application/pdf' />
</div>