.topnav {
    background-color: rgb(48, 48, 48);
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
  }
  .topnav a.login {
    float: right;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #b43838;
    color: white;
  }