.graph {
    border-style: solid;
    border-radius: 5px;
    width :50%;
    height: 500px;
    left: 50px;
    top: 100px;
    position: fixed;
    background-color: whitesmoke;
    box-shadow: 5px 10px #888888;
    overflow:scroll;
}
h1 {
    margin-left: 15px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.waitlist {
    border-style: solid;
    border-radius: 5px;
    width :20%;
    height: 500px;
    right: 225px;
    top: 100px;
    position: fixed;
    background-color: whitesmoke;
    box-shadow: 5px 10px #888888;
    overflow-y:scroll;
}
