<div class="graph">
    <h1>Network: {{name}} | Size: {{size}}</h1> 
    <table>
        <tr *ngFor="let row of graph">
            <td *ngFor="let num of row"> {{ num }} </td>
        </tr>  
    </table>
</div>
<app-pair-add (addRequest)="addPairRandom()" [name]="name"></app-pair-add>
<app-load-graph (loadRequest)="loadGraph($event)"></app-load-graph>
<app-save-graph (saveRequest)="saveGraph()" [name]="name"></app-save-graph>
<app-saved-list [Pairs]="saved"></app-saved-list>
<!--
<div class="waitlist">
    <h1>{{name}} Waitlist | {{wls}}</h1>
    <p *ngFor="let waiter of wl">{{waiter}}</p>
</div>
<app-pair-add-wl (addRequestR)="addPairWL()"></app-pair-add-wl>
-->
