<div
    class="c-alert "
    [ngClass]="{
        'c-alert-show': isSnackBarVisible,
        'c-alert--positive': snackBarStatus == 'success',
        'c-alert--negative': snackBarStatus == 'fail',
        'c-alert--warning': snackBarStatus == 'warning',
        'c-alert--info': snackBarStatus == 'info'
    }"
>
    <div class="c-alert-content">
        <div class="c-alert-content-inner">{{ snackBarContent }}</div>
    </div>
    <div *ngIf="isSnackBarDismissible" (click)="hideSnackBar()" class="c-alert-dismiss">
        Dismiss
    </div>
</div>
