.c-alert {
    visibility: hidden;
    position: fixed;
    text-align: center;
    width: 25%;
    height:24.5px;
    padding: 16px;
    left: 37.5%;
    top: -60px;
    opacity: 0;
    z-index: 1;
    transition: 0.4s ease;
    border-style: none;
    vertical-align: middle;
    display:inline-block;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    
    &--negative {
        background-color: rgb(241, 115, 115);
    }
    &-show {
        visibility: visible;
        top: 30px;
        opacity: 1;
    }

    &--info {
        background-color: #0747a6;
    }
    &-dismiss {
        cursor: pointer;
    }
}