/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(182, 182, 182);
    margin: 0;
}

.post {
    width: 50%;
    height: auto;
    background-color: whitesmoke;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-shadow: black;
    display: block;
    margin: auto;
    margin-top: 30px;
    box-shadow: 5px 10px #888888;
}
.post h1{
    margin-left: 5%;
}
.post p{
    margin-left:2.5%;
    margin-right:2.5%;
}

footer {
    height: 10%;
}