<table>
    <tr>
        <td><app-person></app-person></td>
        <td><app-person></app-person></td>
        <td><app-person></app-person></td>
    </tr>
    <tr>
        <td><app-person></app-person></td>
        <td><app-person></app-person></td>
        <td><app-person></app-person></td>
    </tr>
    
</table>

